body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif sans-serif;
    background-image: url(../style/media/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.line{
    border-bottom: 1px solid white;
}

/*Header*/
.myphoto {
    border-radius: 200%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    border: 3px solid maroon;
   }

   h1{
    font-size: 29px;
    color: white;
    text-align: center;
   }
    nav, header{
        backdrop-filter: blur(1px);
    }
    /*Navigation*/
    nav{
        opacity: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        padding: 3px;
        background-color: black;
    }
    .ulfornav{
        list-style: none;
        display: flex;
    }
    nav a{
        color: #f2f2f2;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    nav a.main {
        background-color: #343434;
        color: white;
    }

    /*Osvita*/
    /*Skills*/
    .textstyle{
        color:white;
        font-size: 18px;
        text-align: center;
    }
    .ulforinfo{
        padding: 0;
        display: inline-block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /*Contacts*/

    .contactNomerEmail{
        color: white;
        font-size: 30px;
    }

    .contactsstyle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        text-align: center;
    }

    .contactsstyle > div:first-child {
        padding: 20px;
      }
      
      .contactsstyle > div:not(:first-child) {
        margin-left: 40px;
      }

    .yellowfontcolor a:visited, .yellowfontcolor a:link{
        color: yellow;
    }

    .bluefontcolor a:visited, .bluefontcolor a:link{
        color: blue;
    }

    /*Job button*/
    .lr_button {
        display: inline-block;
        background-color: white;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 4px 7px;
        cursor: pointer;
        border-radius: 16px;
        border: none;
      }

      .lr_button:hover {
        background-color: #cdb215;
      }