main {
  width: 410px;
  margin: 0 auto;
  /* border: 2px solid peachpuff; */
  border-radius: 12px;
  padding: 15px;
  background-color: rgb(247, 247, 247);
}
.arrow-container {
  width: 50px;
  height: 50px;
  background-color: orange;
  opacity: 0.1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text {
  font-size: 38px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}
.paragraph {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}
form input {
  padding: 12px;
  width: 370px;
  height: 40px;
  margin-bottom: 18px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(0,187,222,0.25);
}

button {
    font-weight: bold;
    border: none;
    border-radius: 12px;
    width: 100px;
    height: 50px;
    background: linear-gradient(to right, rgb(34, 153, 34), rgb(4, 95, 4));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px 60px;
    margin-top: 60px;
}
